.*
*~
*.o
*.a
*.so
*.pyc
*.png
build*
doc/html/*
doc/xml/*
espreso
espresogui
decomposer
libespreso/apitest
libs*/*
tools/*
*results*
src/gui/*.pro
src/gui/*.pro.user
src/gui/build-espreso-gui-Desktop_Qt_5_9_1_GCC_64bit-Debug
