# ignore hiden, temporary, built, and project files
.*
*~
*.pyc

# ignore generated directories
build/*
doc/html/*
doc/xml/*
doc/build/*

# also skip tools - new tools are added by 'git add -f'
# TODO: move building of tools to build directory
tools/*

# ignore ESPRESO results (default location)
**/results/

# ignore *.ecf files in root directory
/*.ecf
